:root{
    --blue1: #2445CD;
    --blue2: #4263EB;
    --blue3: #8A9DF0;
    --blue4: #ACBBF3;
    --blue5: #D0D8F5;
    --blue6: #E3E7F7;
    --blue7: #EBEEF7;

    --violet1: #5028C6;
    --violet2: #714AE8;
    --violet3: #A58DEE;
    --violet4: #BFB0F2;
    --violet5: #D9D2F4;
    --violet6: #E7E4F7;
    --violet7: #EEEDF7;

    --black1: #25282B;
    --black2: #52575C;
    --black3: #A0A4A8;
}

*{
    font-family: 'Montserrat', sans-serif;
}

/* CARD */
.card{
    background-color: var(--blue3);
}